.icon {
	fill: transparent;
	stroke: transparent;
	width: 22px;
	height: 22px;
}

.icon--arrow-left,
.icon--arrow-right {
	width: 50px;
	height: 50px;
	stroke: #000;
}

.icon--phone, .icon--email, .icon--youtube, .icon--instagram, .icon--fb, .icon--globe, .icon--whatsapp {
	width: 27px;
	height: 27px;
	fill: var(--text-color);	
	stroke: var(--text-color);
	flex-shrink: 0;
	transition: all 0.2s ease-in;

	&:hover {
		// fill: var(--accent);
		// stroke: var(--accent);
		// scale: 1.2;
	}

	@include mobile {
		width: 20px;
		height: 20px;
		margin-right: 0;
	}
}

.icon--nose, .icon--clean, .icon--bio, .icon--baby2, .icon--pets, .icon--eco-nature, .icon--up {
	width: 40px;
	height: 40px;
	fill: var(--accent);

	@include mobile {
		width: 30px;
		height: 30px;
	}
}

.icon--done {
	width: 40px;
	height: 40px;
	fill: none;
	stroke: var(--accent);

	@include mobile {
		width: 30px;
		height: 30px;
	}
}

.icon--partnership, .icon--mastercard, .icon--visa, .icon--paypal, .icon--online-payment, .icon--creditcard, .icon--crypto, .icon--moneytransfer, .icon--cash, .icon--clock, .icon--truck, .icon--money, .icon--welcome, .icon--map {
	width: 70px;
	height: 40px;
	fill: #000;

	@include mobile {
		width: 40px;
		height: 30px;
	}	
}		


.icon--step1, .icon--step2, .icon--step3, .icon--step4, .icon--step5, .icon--step6 {
	width: 100px;
	height: 100px;
	padding: 20px;
	fill: var(--accent);

	@include mobile {
		width: 70px;
		height: 70px;
		padding: 8px;
	}
}

.icon--surface {
	width: 40px;
	height: 40px;
	fill: none;
	stroke: var(--accent);

	@include mobile {
		width: 30px;
		height: 30px;
	}
}